<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                <h1>Signup for Restaurant App</h1>
                <h5>Get free membership</h5>
                <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="number" class="form-control" formControlName="mobile" id="exampleInputPassword1" placeholder="Enter Mobile">
                    </div>
                    <br>
                
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email" aria-describedby="emailHelp"  placeholder="Enter email">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Enter Password">
                    </div>
                <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <br>
                <a routerLink="/login">Already a user?Click to login</a>
                </div>
            </div>
        </div>
    </div>
</div>